/* *************************** */
/* Content Grid – Main Wrapper */
/* *************************** */

.content-grid {
  --inner-padding: calc(var(--spacing) * 4);
  display: grid;
  /* prettier-ignore */
  grid-template-columns:
  [full-width-start] var(--inner-padding) [content-start] 1fr [content-end] var(--inner-padding) [full-width-end];
}

@media screen and (width >= 48rem) {
  .content-grid {
    --inner-padding: calc(var(--spacing) * 8);
  }
}

@media screen and (width >= 64rem) {
  .content-grid {
    --inner-padding: calc(var(--spacing) * 12);
  }
}

@media screen and (width >= 80rem) {
  .content-grid {
    --inner-padding: 1fr;
    /* prettier-ignore */
    grid-template-columns: 
    [full-width-start] var(--inner-padding) [content-start] calc(var(--breakpoint-xl) - 4rem) [content-end] var(--inner-padding) [full-width-end];
  }
}

@media screen and (width >= 96rem) {
  .content-grid {
    --inner-padding: 1fr;
    /* prettier-ignore */
    grid-template-columns: 
    [full-width-start] var(--inner-padding) [content-start] calc(var(--breakpoint-2xl) - 4rem) [content-end] var(--inner-padding) [full-width-end];
  }
}

.content-grid > * {
  grid-column: content;
}

.full-width {
  grid-column: full-width;
}
